p {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

body {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: black;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Box for alerts */
#alerts {
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 100px;
  margin: 20px auto;
  width: 350px;
  margin: 0 auto;
  font-size: 75px;
  color: white;
  text-align: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#main-content {
	width: 960px;
	margin: 0px auto 0px auto;
}

.panel {
	padding: 20px;
	margin: 10px;
}

#word-display {
	text-align: center;
	font-size: 32px;
	padding: 10px;
    padding-bottom: 20px;
    color: white; 
    letter-spacing: 5px;
}

/* Display box for stats */
#general-display {
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 125px;
  margin: 20px auto;
  width: 500px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}
/* Rainbow Gradient Line Inside of Stats Box */
#grad1 {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

.line {
    height: 6px;
    border-radius: 4px;
}

#guessed-letters {
    letter-spacing: 5px;
}